.img-1{
    width: 32%;
    margin: 50px 10px 10px 130px;
}
div h1.texto1{
    color: black;
    margin: 0px 10px 10px 230px;
    font-size: 30px;
}
.img-2{
    width: 32%;
    margin: -900px 10px 70px 770px;
}
div h1.texto2{
    color: #000;
    margin: -55px 10px 10px 900px;
    font-size: 30px;
}